<mat-nav-list>
  <mat-card class="profile-card">
    <mat-card-header>
      <div class="profile-header-content">
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>lh7dev@gmail.com</mat-card-subtitle>
      </div>
      <img mat-card-avatar src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    </mat-card-header>
  </mat-card>

  <mat-divider></mat-divider>
  <h2 matSubheader>Operations</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/customers">Customers</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/products">Products & Services</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/inventory">Inventory</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/orders">Orders</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/invoices">Invoices</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/payments">Payments</a>
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/users">Users</a>

  <mat-divider></mat-divider>
  <h2 matSubheader>Tools</h2>
<!--
  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>import_contacts</mat-icon>
    Contacts
  </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
    <mat-icon>contact_phone</mat-icon>
    Leads
  </a>
 -->
</mat-nav-list>
