  <div class="loading-spinner-wrap" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 entity-list" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-text">Product</th>
      <td mat-cell *matCellDef="let element" class="td-text list-name-td"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="sku">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-text">SKU</th>
      <td mat-cell *matCellDef="let element" class="td-text list-sku-td"> {{element.sku}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-text">Status</th>
      <td mat-cell *matCellDef="let element" class="td-text list-status-td"> {{element.status}} </td>
    </ng-container>

    <ng-container matColumnDef="type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-text">Product/Srvice</th>
      <td mat-cell *matCellDef="let element" class="td-text list-type-td"> {{element.type}} </td>
    </ng-container>

    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="th-text">Price</th>
      <td mat-cell *matCellDef="let element" class="td-text list-price-td"> {{element.price | currency}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="DisplayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: DisplayedColumns;" class="list-item" (click)="selectItem(row)"></tr>
  </table>

  <mat-paginator (page)='onPageChange($event)' [length]='length' [pageSize]='pageSize'
    [pageSizeOptions]='pageSizeOptions'></mat-paginator>


