<div class="header-section">
  <h2>Order Details</h2>
</div>

<mat-dialog-content>

  <div class="loading-spinner-wrap" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class='overview-section' *ngIf="!isLoading">
    <label for="eCustomer">Customer:</label>
    <h3 #eCustomer>{{customer.name | uppercase}}</h3>

    <label for="eCustomer">Shipping Address:</label>
    <h3 #eCustomer>
      <app-address-format [address]="entity.shipping_address"></app-address-format>
    </h3>

    <mat-divider></mat-divider>

    <br>

    <label for="eVendor">Vendor:</label>
    <h3 #eVendor>
      {{business.name}}
    </h3>

    <label for="eStatus">Order Status:</label>
    <h3 #eStatus>{{entity.status}}</h3>

    <mat-divider></mat-divider>

    <br>

    <h3>Order Details</h3>
    <table mat-table [dataSource]="charges" class="mat-elevation-z8">

      <ng-container matColumnDef="product_name">
        <th mat-header-cell *matHeaderCellDef>Product</th>
        <td mat-cell *matCellDef="let element"> {{element.product.name}} </td>
      </ng-container>

      <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
      </ng-container>

      <ng-container matColumnDef="unit_price">
        <th mat-header-cell *matHeaderCellDef>Unit Price</th>
        <td mat-cell *matCellDef="let element"> {{element.product.price | currency}} </td>
      </ng-container>

      <ng-container matColumnDef="total">
        <th mat-header-cell *matHeaderCellDef>Total</th>
        <td mat-cell *matCellDef="let element"> {{element.total | currency}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
    <div class="total-wrap">
      <div class="totals">
        <table>
          <tr>
            <td>Total:</td>
            <td>{{entity.total | currency}}</td>
          </tr>
          <tr>
            <td>Taxes:</td>
            <td>{{entity.total * 0.07 | currency}}</td>
          </tr>
          <tr class="grand-total">
            <td>Amount Due:</td>
            <td>{{(entity.total * 0.07)+entity.total | currency}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>

</mat-dialog-content>



<div class="actions">
  <button mat-raised-button color="primary" type="button" (click)='openEdit()'>Edit</button>
  <button mat-raised-button type="button" (click)='dialogClose()'>Close</button>
</div>
