<div class="header-section">
  <h2>Product Edit</h2>
</div>

<mat-dialog-content>
  <div class="loading-spinner-wrap" *ngIf="isLoading">
    <mat-spinner></mat-spinner>
  </div>

  <div class="content-section" *ngIf="!isLoading">
    <form [formGroup]="form" (ngSubmit)="applyEdit()" #EditForm>
      <mat-form-field>
        <input
          matInput
          placeholder="SKU"
          type="number"
          min="3"
          formControlName="sku"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Product name"
          formControlName="name"
          cols="120"
          rows="5"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <textarea
          matInput
          placeholder="Description"
          formControlName="description"
          cols="120"
          rows="10"
        ></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <select matNativeControl required>
          <option value="active">Active</option>
          <option value="disabled">Disabled</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Product Type</mat-label>
        <select #TypeSelector matNativeControl required>
          <option value="product">Product</option>
          <option value="service">Service</option>
        </select>
      </mat-form-field>
      <mat-form-field *ngIf="TypeSelector.value == 'product'">
        <mat-label>Sold By</mat-label>
        <select matNativeControl required>
          <option value="weigth">Weight</option>
          <option value="item">Item</option>
        </select>
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          placeholder="Price"
          type="number"
          formControlName="price"
          required
        />
      </mat-form-field>
    </form>
  </div>
</mat-dialog-content>

<div class="actions">
  <button mat-raised-button type="button" (click)="cancel()">
    Cancel
  </button>
  <button mat-raised-button color="primary" (click)="applyEdit()">
    Apply
  </button>
</div>
