@import "main";

:host {
  width: 100%;
  display: flex;
  flex-flow: column;
  padding: 20px;
}

.card-xyz {
  width: 100%;
  margin-bottom: 10px;
}

mat-grid-tile {
  padding: 20px;
}
