.item {
}

.item-content {
  padding: 20px 0;
}

.contact-name {
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 5px;
}

.new-contact-form {
  margin: 20px 0;
  padding: 20px 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.mat-dialog-content {
  padding: 0;
  margin: 0;
  width: 100%;
}

form {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-flow: column;
  .mat-form-field {
    width: 100%;
  }
}

.actions {
  padding-top: 20px;
  padding-bottom: 5px;
  * {
    margin-right: 8px;
  }
}

.item-actions {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  * {
    margin-right: 8px;
  }
}
