:host {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  max-width: 100vw;
  width: 100%;

  mat-drawer {
    width: 350px;
  }

  mat-drawer-container {
    display: flex;
    position: relative;
    max-width: 100%;
    width:100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .mat-drawer-content {
    display: flex;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    width: 100%;
  }
}
