/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.list-item {
  cursor: pointer;
  transition: 0.10s cubic-bezier(0.755, 0.05, 0.855, 0.06);
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.045);
}
